.landing {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.left-pannel {
    display: flex;
    height: 100vh;
    flex: 1;
    background: #0f1728;
    width:100%;
}