.button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.button .dot-instance {
    position: relative !important;
}

.button .class-4 {
    background-color: #ffffff !important;
}

.button .class-5 {
    background-color: #d6bbfb !important;
}

.button .class-6 {
    background-color: #fca19b !important;
}

.button .class-7 {
    background-color: #cfd4dc !important;
}

.button .class-8 {
    left: unset !important;
    position: relative !important;
    top: unset !important;
}

.button .class-9 {
    height: 20px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 20px !important;
}

.button .text-8 {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.button.sm {
    gap: 8px;
}

.button.secondary-gray {
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
}

.button.md {
    gap: 8px;
}

.button.secondary-color {
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
}

.button.lg {
    gap: 8px;
}

.button.primary {
    border-radius: 8px;
    overflow: hidden;
}

.button.only {
    gap: 8px;
}

.button.xl {
    gap: 8px;
}

.button.tertiary-color {
    border-radius: 8px;
    overflow: hidden;
}

.button.tertiary-gray {
    border-radius: 8px;
    overflow: hidden;
}

.button.secondary-gray.state-0-default {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px #1018280d;
}

.button.secondary-gray.state-0-hover {
    box-shadow: 0px 1px 2px #1018280d;
}

.button.state-0-focused.secondary-gray {
    background-color: #ffffff;
}

.button.primary.md {
    border: 1px solid;
}

.button.primary.only {
    border: 1px solid;
}

.button.primary.dot-leading {
    border: 1px solid;
}

.button.only.xl {
    padding: 14px;
}

.button.only.md {
    padding: 10px;
}

.button.dot-leading.two-xl {
    gap: 12px;
}

.button.primary.xl {
    border: 1px solid;
}

.button.primary.state-0-hover {
    border: 1px solid;
    box-shadow: 0px 1px 2px #1018280d;
}

.button.lg.only {
    padding: 12px;
}

.button.primary.two-xl {
    border: 1px solid;
}

.button.secondary-gray.state-0-disabled {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px #1018280d;
}

.button.default.two-xl {
    gap: 12px;
}

.button.lg.primary {
    border: 1px solid;
}

.button.primary.state-0-default {
    box-shadow: 0px 1px 2px #1018280d;
}

.button.state-0-focused.primary {
    border: 1px solid;
}

.button.primary.state-0-disabled {
    border: 1px solid;
    box-shadow: 0px 1px 2px #1018280d;
}

.button.primary.destructive-true {
    border: 1px solid;
}

.button.sm.only {
    padding: 8px;
}

.button.only.two-xl {
    padding: 16px;
}

.button.sm.secondary-color.default {
    padding: 8px 14px;
}

.button.dot-leading.primary.two-xl {
    padding: 16px 28px;
}

.button.destructive-false.secondary-color.state-0-disabled {
    background-color: #fcfaff;
    border-color: #fcfaff;
}

.button.xl.secondary-color.default {
    padding: 12px 20px;
}

.button.secondary-gray.destructive-false.state-0-hover {
    background-color: #f8f9fb;
    border-color: #cfd4dc;
}

.button.tertiary-gray.sm.default {
    padding: 8px 14px;
}

.button.lg.tertiary-gray.dot-leading {
    padding: 10px 18px;
}

.button.primary.default.two-xl {
    padding: 16px 28px;
}

.button.tertiary-color.xl.default {
    padding: 12px 20px;
}

.button.tertiary-gray.md.default {
    padding: 10px 16px;
}

.button.secondary-gray.destructive-true.state-0-disabled {
    border-color: #fecdc9;
}

.button.xl.secondary-color.dot-leading {
    padding: 12px 20px;
}

.button.primary.destructive-false.state-0-default {
    background-color: #7e56d8;
}

.button.state-0-hover.destructive-true.secondary-color {
    background-color: #fee3e1;
    border-color: #fee3e1;
}

.button.state-0-focused.destructive-true.secondary-gray {
    border-color: #fca19b;
    box-shadow: 0px 0px 0px 4px #fee3e1, 0px 1px 2px #1018280d;
}

.button.tertiary-gray.destructive-true.state-0-hover {
    background-color: #fef2f1;
}

.button.default.secondary-color.two-xl {
    padding: 16px 28px;
}

.button.secondary-gray.md.default {
    padding: 10px 16px;
}

.button.md.secondary-color.dot-leading {
    padding: 10px 16px;
}

.button.state-0-focused.primary.destructive-false {
    background-color: #7e56d8;
    border-color: #7e56d8;
    box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px #1018280d;
}

.button.primary.destructive-true.state-0-hover {
    background-color: #b32218;
    border-color: #b32218;
}

.button.dot-leading.tertiary-gray.two-xl {
    padding: 16px 28px;
}

.button.tertiary-gray.md.dot-leading {
    padding: 10px 16px;
}

.button.dot-leading.secondary-color.two-xl {
    padding: 16px 28px;
}

.button.lg.secondary-color.default {
    padding: 10px 18px;
}

.button.primary.destructive-false.state-0-disabled {
    background-color: #e9d7fe;
    border-color: #e9d7fe;
}

.button.lg.primary.dot-leading {
    padding: 10px 18px;
}

.button.primary.md.dot-leading {
    padding: 10px 16px;
}

.button.lg.primary.default {
    padding: 10px 18px;
}

.button.default.tertiary-color.two-xl {
    padding: 16px 28px;
}

.button.lg.secondary-color.dot-leading {
    padding: 10px 18px;
}

.button.sm.tertiary-color.dot-leading {
    padding: 8px 14px;
}

.button.tertiary-gray.sm.dot-leading {
    padding: 8px 14px;
}

.button.primary.sm.dot-leading {
    padding: 8px 14px;
}

.button.state-0-hover.destructive-true.tertiary-color {
    background-color: #fef2f1;
}

.button.tertiary-gray.destructive-false.state-0-hover {
    background-color: #f8f9fb;
}

.button.tertiary-gray.xl.dot-leading {
    padding: 12px 20px;
}

.button.tertiary-color.xl.dot-leading {
    padding: 12px 20px;
}

.button.secondary-gray.xl.dot-leading {
    padding: 12px 20px;
}

.button.secondary-gray.destructive-false.state-0-disabled {
    border-color: #eaecf0;
}

.button.state-0-focused.destructive-false.secondary-color {
    background-color: #f9f5ff;
    border-color: #f9f5ff;
    box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px #1018280d;
}

.button.primary.sm.default {
    padding: 8px 14px;
}

.button.secondary-gray.xl.default {
    padding: 12px 20px;
}

.button.state-0-hover.destructive-false.secondary-color {
    background-color: #f4ebff;
    border-color: #f4ebff;
}

.button.lg.tertiary-color.default {
    padding: 10px 18px;
}

.button.lg.tertiary-gray.default {
    padding: 10px 18px;
}

.button.state-0-default.destructive-true.secondary-color {
    background-color: #fef2f1;
    border-color: #fef2f1;
}

.button.primary.md.default {
    padding: 10px 16px;
}

.button.primary.destructive-false.state-0-hover {
    background-color: #6840c6;
    border-color: #6840c6;
}

.button.destructive-false.state-0-default.secondary-color {
    background-color: #f9f5ff;
    border-color: #f9f5ff;
}

.button.lg.secondary-gray.dot-leading {
    padding: 10px 18px;
}

.button.md.secondary-color.default {
    padding: 10px 16px;
}

.button.state-0-focused.destructive-true.secondary-color {
    background-color: #fef2f1;
    border-color: #fef2f1;
    box-shadow: 0px 0px 0px 4px #fee3e1, 0px 1px 2px #1018280d;
}

.button.primary.destructive-true.state-0-disabled {
    background-color: #fecdc9;
    border-color: #fecdc9;
}

.button.lg.secondary-gray.default {
    padding: 10px 18px;
}

.button.secondary-gray.destructive-false.state-0-default {
    border-color: #cfd4dc;
}

.button.secondary-gray.state-0-default.destructive-true {
    border-color: #fca19b;
}

.button.tertiary-color.md.default {
    padding: 10px 16px;
}

.button.secondary-gray.sm.dot-leading {
    padding: 8px 14px;
}

.button.state-0-focused.primary.destructive-true {
    background-color: #d92c20;
    border-color: #d92c20;
    box-shadow: 0px 0px 0px 4px #fee3e1, 0px 1px 2px #1018280d;
}

.button.tertiary-gray.default.two-xl {
    padding: 16px 28px;
}

.button.dot-leading.secondary-gray.two-xl {
    padding: 16px 28px;
}

.button.destructive-true.secondary-color.state-0-disabled {
    background-color: #fefafa;
    border-color: #fefafa;
}

.button.tertiary-color.md.dot-leading {
    padding: 10px 16px;
}

.button.state-0-focused.destructive-false.secondary-gray {
    border-color: #cfd4dc;
    box-shadow: 0px 0px 0px 4px #f2f3f6, 0px 1px 2px #1018280d;
}

.button.state-0-hover.destructive-false.tertiary-color {
    background-color: #f9f5ff;
}

.button.secondary-gray.destructive-true.state-0-hover {
    background-color: #fef2f1;
    border-color: #fca19b;
}

.button.primary.xl.dot-leading {
    padding: 12px 20px;
}

.button.sm.tertiary-color.default {
    padding: 8px 14px;
}

.button.secondary-gray.default.two-xl {
    padding: 16px 28px;
}

.button.dot-leading.tertiary-color.two-xl {
    padding: 16px 28px;
}

.button.sm.secondary-color.dot-leading {
    padding: 8px 14px;
}

.button.lg.tertiary-color.dot-leading {
    padding: 10px 18px;
}

.button.secondary-gray.sm.default {
    padding: 8px 14px;
}

.button.secondary-gray.md.dot-leading {
    padding: 10px 16px;
}

.button.tertiary-gray.xl.default {
    padding: 12px 20px;
}

.button.primary.xl.default {
    padding: 12px 20px;
}

.button.primary.state-0-default.destructive-true {
    background-color: #d92c20;
    border-color: #d92c20;
}

.button.primary.state-0-default.destructive-false.xl {
    border-color: #7e56d8;
}

.button.primary.md.state-0-default.destructive-false {
    border-color: #7e56d8;
}

.button.primary.destructive-false.state-0-default.two-xl {
    border-color: #7e56d8;
}

.button.only.primary.state-0-default.destructive-false {
    border-color: #7e56d8;
}

.button.lg.primary.destructive-false.state-0-default {
    border-color: #7e56d8;
}

.button.primary.destructive-false.state-0-default.dot-leading {
    border-color: #7e56d8;
}

.button.md .text-8 {
    font-size: 14px;
    line-height: 20px;
}

.button.sm .text-8 {
    font-size: 14px;
    line-height: 20px;
}

.button.xl .text-8 {
    font-size: 16px;
    line-height: 24px;
}

.button.lg .text-8 {
    font-size: 16px;
    line-height: 24px;
}

.button.two-xl .text-8 {
    font-size: 18px;
    line-height: 28px;
}

.button.primary .text-8 {
    color: #ffffff;
}

.button.destructive-false.state-0-default.link-gray .text-8 {
    color: #475466;
}

.button.state-0-default.destructive-true.link-gray .text-8 {
    color: #b32218;
}

.button.destructive-false.link-color.state-0-disabled .text-8 {
    color: #cfd4dc;
}

.button.secondary-gray.destructive-false.state-0-default .text-8 {
    color: #344053;
}

.button.secondary-gray.state-0-default.destructive-true .text-8 {
    color: #b32218;
}

.button.destructive-false.secondary-color.state-0-disabled .text-8 {
    color: #d6bbfb;
}

.button.state-0-focused.destructive-false.secondary-color .text-8 {
    color: #6840c6;
}

.button.destructive-false.tertiary-color.state-0-disabled .text-8 {
    color: #cfd4dc;
}

.button.tertiary-gray.destructive-true.state-0-disabled .text-8 {
    color: #fca19b;
}

.button.tertiary-gray.destructive-false.state-0-disabled .text-8 {
    color: #cfd4dc;
}

.button.state-0-hover.destructive-false.secondary-color .text-8 {
    color: #52379e;
}

.button.state-0-focused.tertiary-gray.destructive-false .text-8 {
    color: #475466;
}

.button.state-0-focused.tertiary-gray.destructive-true .text-8 {
    color: #b32218;
}

.button.state-0-hover.destructive-false.link-gray .text-8 {
    color: #344053;
}

.button.state-0-focused.destructive-false.tertiary-color .text-8 {
    color: #6840c6;
}

.button.secondary-gray.destructive-false.state-0-hover .text-8 {
    color: #1d2838;
}

.button.destructive-true.secondary-color.state-0-disabled .text-8 {
    color: #fca19b;
}

.button.state-0-focused.destructive-false.link-color .text-8 {
    color: #6840c6;
}

.button.state-0-focused.destructive-false.secondary-gray .text-8 {
    color: #344053;
}

.button.state-0-hover.destructive-false.tertiary-color .text-8 {
    color: #52379e;
}

.button.destructive-true.state-0-disabled.link-color .text-8 {
    color: #fca19b;
}

.button.state-0-hover.link-gray.destructive-true .text-8 {
    color: #901f17;
}

.button.tertiary-color.state-0-default.destructive-false .text-8 {
    color: #6840c6;
}

.button.state-0-default.tertiary-color.destructive-true .text-8 {
    color: #b32218;
}

.button.state-0-focused.destructive-false.link-gray .text-8 {
    color: #475466;
}

.button.tertiary-gray.destructive-false.state-0-default .text-8 {
    color: #475466;
}

.button.secondary-gray.destructive-true.state-0-hover .text-8 {
    color: #901f17;
}

.button.state-0-default.destructive-true.link-color .text-8 {
    color: #b32218;
}

.button.state-0-default.destructive-false.link-color .text-8 {
    color: #6840c6;
}

.button.link-gray.destructive-true.state-0-disabled .text-8 {
    color: #fca19b;
}

.button.state-0-default.destructive-true.secondary-color .text-8 {
    color: #b32218;
}

.button.secondary-gray.destructive-true.state-0-disabled .text-8 {
    color: #fca19b;
}

.button.state-0-hover.destructive-true.tertiary-color .text-8 {
    color: #901f17;
}

.button.tertiary-gray.destructive-false.state-0-hover .text-8 {
    color: #344053;
}

.button.state-0-focused.destructive-true.tertiary-color .text-8 {
    color: #b32218;
}

.button.destructive-true.tertiary-color.state-0-disabled .text-8 {
    color: #fca19b;
}

.button.state-0-hover.destructive-true.link-color .text-8 {
    color: #901f17;
}

.button.destructive-false.state-0-default.secondary-color .text-8 {
    color: #6840c6;
}

.button.state-0-hover.destructive-true.secondary-color .text-8 {
    color: #901f17;
}

.button.state-0-focused.destructive-true.secondary-gray .text-8 {
    color: #b32218;
}

.button.state-0-focused.link-gray.destructive-true .text-8 {
    color: #b32218;
}

.button.tertiary-gray.destructive-true.state-0-hover .text-8 {
    color: #901f17;
}

.button.tertiary-gray.state-0-default.destructive-true .text-8 {
    color: #b32218;
}

.button.state-0-focused.destructive-true.secondary-color .text-8 {
    color: #b32218;
}

.button.destructive-false.link-gray.state-0-disabled .text-8 {
    color: #cfd4dc;
}

.button.state-0-hover.destructive-false.link-color .text-8 {
    color: #52379e;
}

.button.state-0-focused.destructive-true.link-color .text-8 {
    color: #b32218;
}

.button.secondary-gray.destructive-false.state-0-disabled .text-8 {
    color: #cfd4dc;
}