.input-dropdown {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.input-dropdown .input-with-label {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 6px;
    position: relative;
    width: 100%;
}

.input-dropdown .label {
    color: #344053;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .input {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    overflow: hidden;
    padding: 10px 14px;
    position: relative;
    width: 100%;
}

.input-dropdown .div-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    position: relative;
}

.input-dropdown .search-lg-instance {
    height: 20px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 20px !important;
}

.input-dropdown .tags {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    position: relative;
}

.input-dropdown .tag {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cfd4dc;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    justify-content: center;
    padding: 2px 4px 2px 5px;
    position: relative;
}

.input-dropdown .content-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
}

.input-dropdown .avatar-2 {
    border-radius: 8px;
    height: 16px;
    overflow: hidden;
    position: relative;
    width: 16px;
}

.input-dropdown .avatar-3 {
    height: 16px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 16px;
}

.input-dropdown .text-i {
    color: #344053;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .tag-x-close {
    align-items: flex-start;
    border-radius: 3px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 2px;
    position: relative;
}

.input-dropdown .x-close {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
}

.input-dropdown .avatar-4 {
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 16px;
}

.input-dropdown .text-9 {
    color: #0f1728;
    flex: 1;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
}

.input-dropdown .img-2 {
    height: 20px;
    position: relative;
    width: 20px;
}

.input-dropdown .text-10 {
    font-family: "Inter", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .supporting-text-6 {
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .avatar-5 {
    border-radius: 200px;
    height: 24px;
    overflow: hidden;
    position: relative;
    width: 24px;
}

.input-dropdown .avatar-6 {
    height: 24px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 24px;
}

.input-dropdown .text-11 {
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .dot-2 {
    position: relative !important;
}

.input-dropdown .text-12 {
    font-family: "Inter", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.input-dropdown .hint-text {
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    width: 320px;
}

.input-dropdown .menu {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eaecf0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
    display: flex;
    height: 320px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 74px;
}

.input-dropdown .menu-items {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: -360px;
    padding: 4px 0px;
    position: relative;
}

.input-dropdown .input-dropdown-menu {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    padding: 2px 6px;
    position: relative;
    width: 100%;
}

.input-dropdown .content-8 {
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    padding: 10px 10px 10px 8px;
    position: relative;
}

.input-dropdown .text-and-supporting-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
}

.input-dropdown .avatar-7 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.input-dropdown .content-9 {
    align-items: center;
    background-color: #f8f9fb;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    padding: 10px 10px 10px 8px;
    position: relative;
}

.input-dropdown .text-and-supporting-wrapper {
    align-items: flex-start;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    padding: 10px 10px 10px 8px;
    position: relative;
}

.input-dropdown .user {
    height: 14px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-8 {
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.input-dropdown .user-2 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1040px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-9 {
    height: 24px;
    left: -5694px;
    position: absolute;
    top: -1042px;
    width: 24px;
}

.input-dropdown .user-3 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1088px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-10 {
    height: 24px;
    left: -5694px;
    position: absolute;
    top: -1090px;
    width: 24px;
}

.input-dropdown .user-4 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1136px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-11 {
    height: 24px;
    left: -5694px;
    position: absolute;
    top: -1138px;
    width: 24px;
}

.input-dropdown .user-5 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1184px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-12 {
    height: 24px;
    left: -5694px;
    position: absolute;
    top: -1186px;
    width: 24px;
}

.input-dropdown .user-6 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1232px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-13 {
    height: 24px;
    left: -5694px;
    position: absolute;
    top: -1234px;
    width: 24px;
}

.input-dropdown .user-7 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1280px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-14 {
    height: 24px;
    left: -5694px;
    object-fit: cover;
    position: absolute;
    top: -1282px;
    width: 24px;
}

.input-dropdown .user-8 {
    height: 20px;
    margin-left: -5694px;
    margin-top: -1328px;
    position: relative;
    width: 20px;
}

.input-dropdown .avatar-15 {
    height: 24px;
    left: -5694px;
    object-fit: cover;
    position: absolute;
    top: -1330px;
    width: 24px;
}

.input-dropdown .scroll-bar {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 320px;
    padding: 4px;
    position: absolute;
    top: 0;
    width: 16px;
}

.input-dropdown .bar-wrapper {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    position: relative;
}

.input-dropdown .bar {
    background-color: #eaecf0;
    border-radius: 8px;
    height: 156px;
    width: 8px;
}

.input-dropdown.type-default {
    width: 320px;
}

.input-dropdown.type-avatar-leading {
    width: 320px;
}

.input-dropdown.type-tags {
    width: 400px;
}

.input-dropdown.type-dot-leading {
    width: 320px;
}

.input-dropdown.type-search {
    width: 320px;
}

.input-dropdown.type-icon-leading {
    width: 320px;
}

.input-dropdown .state-2-open {
    border-color: #d6bbfb;
    box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px #1018280d;
}

.input-dropdown .state-2-placeholder {
    border-color: #cfd4dc;
    box-shadow: 0px 1px 2px #1018280d;
}

.input-dropdown .state-2-focused {
    border-color: #d6bbfb;
    box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px #1018280d;
}

.input-dropdown .state-2-default {
    border-color: #cfd4dc;
    box-shadow: 0px 1px 2px #1018280d;
}

.input-dropdown .input.state-2-open .text-10 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown .input.state-2-placeholder .text-10 {
    color: #667084;
    font-weight: 400;
}

.input-dropdown .input.state-2-focused .text-10 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown .input.state-2-default .text-10 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown .input.state-2-open .text-12 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown .input.state-2-placeholder .text-12 {
    color: #667084;
    font-weight: 400;
}

.input-dropdown .input.state-2-focused .text-12 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown .input.state-2-default .text-12 {
    color: #0f1728;
    font-weight: 500;
}

.input-dropdown.type-default .menu {
    width: 320px;
}

.input-dropdown.type-avatar-leading .menu {
    width: 320px;
}

.input-dropdown.type-tags .menu {
    width: 400px;
}

.input-dropdown.type-dot-leading .menu {
    width: 320px;
}

.input-dropdown.type-search .menu {
    width: 320px;
}

.input-dropdown.type-icon-leading .menu {
    width: 320px;
}

.input-dropdown.type-default .content-8 {
    align-items: flex-start;
    flex-direction: column;
}

.input-dropdown.type-avatar-leading .content-8 {
    align-items: flex-start;
    flex-direction: column;
}

.input-dropdown.type-tags .content-8 {
    align-items: center;
    background-color: #f8f9fb;
}

.input-dropdown.type-dot-leading .content-8 {
    align-items: flex-start;
    flex-direction: column;
}

.input-dropdown.type-search .content-8 {
    align-items: flex-start;
    flex-direction: column;
}

.input-dropdown.type-icon-leading .content-8 {
    align-items: flex-start;
    flex-direction: column;
}

.input-dropdown.type-default .scroll-bar {
    left: 304px;
}

.input-dropdown.type-avatar-leading .scroll-bar {
    left: 304px;
}

.input-dropdown.type-tags .scroll-bar {
    left: 384px;
}

.input-dropdown.type-dot-leading .scroll-bar {
    left: 304px;
}

.input-dropdown.type-search .scroll-bar {
    left: 304px;
}

.input-dropdown.type-icon-leading .scroll-bar {
    left: 304px;
}