.page-header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-header .instance-node {
    flex: 0 0 auto !important;
}

.page-header .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
}

.page-header .text-and-supporting {
    display: flex;
    position: relative;
}

.page-header .text-wrapper {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
}

.page-header .supporting-text {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .avatar-wrapper {
    border-radius: 200px;
    position: relative;
}

.page-header .img {
    left: 0;
    object-fit: cover;
    position: absolute;
}

.page-header .div {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
    position: relative;
}

.page-header .text-2 {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
}

.page-header .olivia-untitledui {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .actions {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.page-header .input-dropdown-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}

.page-header .divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    width: 100%;
}

.page-header .image-and-header {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.page-header .image-wrap {
    align-self: stretch;
    background-image: url(https://generation-sessions.s3.amazonaws.com/ce4be08f7e6073714fc1035d53225092/img/image-7@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 160px;
    position: relative;
    width: 100%;
}

.page-header .container {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    margin-top: -48px;
    padding: 0px 16px;
    position: relative;
    width: 100%;
}

.page-header .content-2 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
}

.page-header .avatar-profile-photo {
    border-radius: 200px;
    height: 96px;
    position: relative;
    width: 96px;
}

.page-header .overlap-group {
    border-radius: 200px;
    height: 104px;
    left: -4px;
    position: relative;
    top: -4px;
    width: 104px;
}

.page-header .content-wrapper {
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 200px;
    box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
    height: 104px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 104px;
}

.page-header .content-3 {
    height: 128px;
    left: -16px;
    object-fit: cover;
    position: absolute;
    top: -4px;
    width: 128px;
}

.page-header .verified-tick {
    height: 24px;
    left: 74px;
    position: absolute;
    top: 74px;
    width: 24px;
}

.page-header .text-and-supporting-2 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
}

.page-header .text-3 {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
}

.page-header .supporting-text-2 {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .class {
    left: 0 !important;
    position: absolute !important;
    top: 68px !important;
}

.page-header .class-2 {
    left: 281px !important;
    position: absolute !important;
    top: 84px !important;
}

.page-header .actions-2 {
    align-items: center;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.page-header .class-3 {
    display: flex !important;
    flex: 1 !important;
    flex-grow: 1 !important;
}

.page-header .image-wrap-2 {
    align-self: stretch;
    position: relative;
    width: 100%;
}

.page-header .image {
    height: 240px;
    left: -112px;
    position: relative;
    width: 1664px;
}

.page-header .image-2 {
    height: 240px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
}

.page-header .container-2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.page-header .avatar-and-content {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.page-header .overlap-group-wrapper {
    border-radius: 200px;
    height: 160px;
    position: relative;
    width: 160px;
}

.page-header .overlap-group-2 {
    border-radius: 200px;
    height: 168px;
    left: -4px;
    position: relative;
    top: -4px;
    width: 168px;
}

.page-header .img-wrapper {
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 200px;
    box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
    height: 168px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 168px;
}

.page-header .content-4 {
    height: 192px;
    left: -16px;
    object-fit: cover;
    position: absolute;
    top: -4px;
    width: 192px;
}

.page-header .verified-tick-2 {
    height: 32px;
    left: 128px;
    position: absolute;
    top: 128px;
    width: 32px;
}

.page-header .content-5 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    padding: 64px 0px 0px;
    position: relative;
}

.page-header .heading {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
}

.page-header .text-4 {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: -1px;
    position: relative;
}

.page-header .supporting-text-3 {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .text-and-supporting-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 640px;
}

.page-header .text-5 {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: -1px;
    position: relative;
    text-align: center;
}

.page-header .supporting-text-4 {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    text-align: center;
}

.page-header .heading-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
}

.page-header .p {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .content-6 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.page-header .text-and-supporting-4 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
}

.page-header .text-6 {
    align-self: stretch;
    color: #0f1728;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
}

.page-header .supporting-text-5 {
    align-self: stretch;
    color: #475466;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.page-header .breadcrumbs-instance {
    left: 0 !important;
    position: absolute !important;
    top: 88px !important;
}

.page-header .actions-3 {
    align-items: center;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.page-header.avatar {
    align-items: flex-start;
    gap: 20px;
}

.page-header.simple {
    align-items: flex-start;
    gap: 20px;
}

.page-header.mobile {
    align-items: flex-start;
    gap: 20px;
    width: 375px;
}

.page-header.desktop.banner-simple {
    align-items: center;
    width: 1440px;
}

.page-header.desktop.avatar {
    width: 1216px;
}

.page-header.banner-simple-centered.desktop {
    align-items: center;
    width: 1440px;
}

.page-header.desktop.banner-avatar-centered {
    align-items: center;
    width: 1440px;
}

.page-header.simple.desktop {
    width: 1216px;
}

.page-header.banner-avatar.desktop {
    align-items: center;
    width: 1440px;
}

.page-header.mobile .content {
    flex-direction: column;
}

.page-header.banner-simple .text-and-supporting {
    align-items: flex-start;
    gap: 20px;
}

.page-header.desktop .text-and-supporting {
    flex: 1;
    flex-grow: 1;
}

.page-header.banner-simple-centered .text-and-supporting {
    align-items: flex-start;
    gap: 20px;
}

.page-header.banner-avatar-centered .text-and-supporting {
    align-items: flex-start;
    gap: 20px;
}

.page-header.simple .text-and-supporting {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.page-header.mobile .text-and-supporting {
    align-items: flex-start;
    align-self: stretch;
    flex: 0 0 auto;
    width: 100%;
}

.page-header.banner-avatar .text-and-supporting {
    align-items: flex-start;
    gap: 20px;
}

.page-header.mobile.avatar .text-and-supporting {
    gap: 16px;
}

.page-header.desktop.avatar .text-and-supporting {
    align-items: center;
    gap: 20px;
}

.page-header.mobile .text-wrapper {
    font-size: 24px;
    line-height: 32px;
}

.page-header.desktop .text-wrapper {
    font-size: 30px;
    line-height: 38px;
}

.page-header.mobile .avatar-wrapper {
    height: 56px;
    width: 56px;
}

.page-header.desktop .avatar-wrapper {
    height: 64px;
    width: 64px;
}

.page-header.mobile .img {
    height: 56px;
    top: 0;
    width: 56px;
}

.page-header.desktop .img {
    height: 64px;
    top: 1px;
    width: 64px;
}

.page-header.mobile .text-2 {
    font-size: 24px;
    line-height: 32px;
}

.page-header.desktop .text-2 {
    font-size: 30px;
    line-height: 38px;
}

.page-header.banner-simple .container {
    align-items: flex-start;
}

.page-header.avatar .container {
    align-items: flex-start;
}

.page-header.banner-simple-centered .container {
    align-items: flex-start;
}

.page-header.banner-avatar-centered .container {
    align-items: center;
}

.page-header.simple .container {
    align-items: flex-start;
}

.page-header.banner-avatar .container {
    align-items: flex-start;
}

.page-header.banner-simple .content-2 {
    align-items: flex-start;
}

.page-header.avatar .content-2 {
    align-items: flex-start;
}

.page-header.banner-simple-centered .content-2 {
    align-items: flex-start;
}

.page-header.banner-avatar-centered .content-2 {
    align-items: center;
}

.page-header.simple .content-2 {
    align-items: flex-start;
}

.page-header.banner-avatar .content-2 {
    align-items: flex-start;
}

.page-header.banner-simple .text-and-supporting-2 {
    align-items: flex-start;
}

.page-header.avatar .text-and-supporting-2 {
    align-items: flex-start;
}

.page-header.banner-simple-centered .text-and-supporting-2 {
    align-items: flex-start;
}

.page-header.banner-avatar-centered .text-and-supporting-2 {
    align-items: center;
}

.page-header.simple .text-and-supporting-2 {
    align-items: flex-start;
}

.page-header.banner-avatar .text-and-supporting-2 {
    align-items: flex-start;
}

.page-header.banner-avatar-centered .text-3 {
    text-align: center;
}

.page-header.banner-avatar-centered .supporting-text-2 {
    text-align: center;
}

.page-header.banner-simple .actions-2 {
    display: inline-flex;
}

.page-header.avatar .actions-2 {
    display: inline-flex;
}

.page-header.banner-simple-centered .actions-2 {
    display: inline-flex;
}

.page-header.banner-avatar-centered .actions-2 {
    align-self: stretch;
    display: flex;
    width: 100%;
}

.page-header.simple .actions-2 {
    display: inline-flex;
}

.page-header.banner-avatar .actions-2 {
    display: inline-flex;
}

.page-header.mobile .image-wrap-2 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/ce4be08f7e6073714fc1035d53225092/img/image-7@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 160px;
}

.page-header.desktop .image-wrap-2 {
    height: 240px;
    overflow: hidden;
}

.page-header.banner-simple .container-2 {
    align-items: flex-start;
}

.page-header.avatar .container-2 {
    align-items: center;
}

.page-header.desktop .container-2 {
    gap: 24px;
    padding: 0px 32px;
    width: 1280px;
}

.page-header.banner-simple-centered .container-2 {
    align-items: center;
}

.page-header.banner-avatar-centered .container-2 {
    align-items: center;
    margin-top: -64px;
}

.page-header.simple .container-2 {
    align-items: center;
}

.page-header.mobile .container-2 {
    align-self: stretch;
    gap: 16px;
    padding: 0px 16px;
    width: 100%;
}

.page-header.banner-avatar .container-2 {
    align-items: flex-start;
    margin-top: -40px;
}

.page-header.banner-simple .avatar-and-content {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 24px 0px 0px;
}

.page-header.avatar .avatar-and-content {
    align-items: flex-start;
    gap: 20px;
}

.page-header.banner-simple-centered .avatar-and-content {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 32px 0px 0px;
}

.page-header.banner-avatar-centered .avatar-and-content {
    align-items: flex-start;
    gap: 20px;
}

.page-header.simple .avatar-and-content {
    align-items: flex-start;
    gap: 20px;
}

.page-header.banner-avatar .avatar-and-content {
    align-items: flex-start;
    gap: 24px;
}

.page-header.banner-simple .content-6 {
    gap: 20px;
}

.page-header.avatar .content-6 {
    gap: 20px;
}

.page-header.desktop .content-6 {
    align-items: center;
}

.page-header.banner-simple-centered .content-6 {
    gap: 16px;
}

.page-header.banner-avatar-centered .content-6 {
    gap: 20px;
}

.page-header.simple .content-6 {
    gap: 20px;
}

.page-header.mobile .content-6 {
    align-items: flex-start;
}

.page-header.banner-avatar .content-6 {
    gap: 20px;
}

.page-header.banner-simple .text-and-supporting-4 {
    align-items: flex-start;
}

.page-header.avatar .text-and-supporting-4 {
    align-items: center;
}

.page-header.banner-simple-centered .text-and-supporting-4 {
    align-items: center;
}

.page-header.banner-avatar-centered .text-and-supporting-4 {
    align-items: center;
}

.page-header.simple .text-and-supporting-4 {
    align-items: center;
}

.page-header.banner-avatar .text-and-supporting-4 {
    align-items: center;
}

.page-header.banner-simple-centered .text-6 {
    text-align: center;
}

.page-header.banner-simple .actions-3 {
    display: inline-flex;
}

.page-header.avatar .actions-3 {
    display: flex;
}

.page-header.banner-simple-centered .actions-3 {
    align-self: stretch;
    display: flex;
    width: 100%;
}

.page-header.banner-avatar-centered .actions-3 {
    display: flex;
}

.page-header.simple .actions-3 {
    display: flex;
}

.page-header.banner-avatar .actions-3 {
    display: flex;
}